<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    {% load widget_tweaks %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Sign_in</title>
</head>
<body>
<div class="wapper" style="width: 400px; height: 600px; margin-left: 450px;">
    <div class="container-fluid">
		<div class="row">
			<div class="well center-block">
				<div class="well-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
					<h3 class="text-center "><b> Register Here! </b></h3>
                    <h4 class="text-center ">Inspection As Service for Busniess</h4>
					<hr>
				</div>
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
					<div class="col-xs-12 ">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="glyphicon glyphicon-user"></i>
								</div>
								<input type="text" placeholder="Company Name" name="companyname_business" class="form-control">
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12 ">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="glyphicon glyphicon-user"></i>
								</div>
								<input type="text" placeholder="Username" name="username" class="form-control">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 ">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="glyphicon glyphicon-user"></i>
								</div>
								<input type="text" placeholder="Name" name="name" class="form-control">
							</div>
						</div>
					</div>
				</div>
{#                <div class="row">#}
{#					<div class="col-xs-12 ">#}
{#						<div class="form-group">#}
{#							<div class="input-group">#}
{#								<div class="input-group-addon">#}
{#									<i class="glyphicon glyphicon-user"></i>#}
{#								</div>#}
{#								<input type="text" placeholder="Last Name" name="last_name" class="form-control">#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="glyphicon glyphicon-lock"></i>
								</div>
								<input type="password" minlength="8" maxlength="20" placeholder="Password" name="password" class="form-control">
							</div>
						</div>
					</div>
				</div>


                <div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="glyphicon glyphicon-lock"></i>
								</div>
								<input type="password" minlength="8" maxlength="20" placeholder="Retype Password" name="repassword" class="form-control">
							</div>
						</div>
					</div>
				</div>

                {{ infor.match }}
				<div class="row">
					<div class="col-xs-12 ">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="glyphicon glyphicon-phone"></i>
								</div>
								<input type="number" minlength="10" maxlength="12" class="form-control" name="phone" placeholder="Phone number">
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class=" col-xs-12">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="glyphicon glyphicon-envelope"></i>
								</div>
								<input type="email" class="form-control" name="txtmail" placeholder="E-Mail">
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class=" col-xs-12 ">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="glyphicon glyphicon-list-alt"></i>
								</div>
								<textarea class="form-control" name="txtadd" placeholder="Address"></textarea>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class=" col-xs-12 ">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="glyphicon glyphicon-calendar"></i>
								</div>
                                <textarea name="CompanyInformation" placeholder="Company Information" class="form-control" id="datepicker"></textarea>
							</div>
						</div>
					</div>
				</div>
                {{ infor.exist }}
				<div class="row widget">
					<div class=" col-xs-12 ">
						<button type="submit" name="submitbusiness" class="btn btn-block" style="background: #2e6da4; color: #dbdbdb;font-size: 20px;"> Submit </button>
					</div>

				</div>
                </form>
			</div>
		</div>
	</div>
</div>

</body>
</html>