<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    {% load widget_tweaks %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Sign_in</title>
</head>
<body>
<div class="wapper" style="width: 400px; height: 600px; margin-left: 450px;">
    <div class="wapper" style="width: 400px; height: 500px">
    <div class="container-fluid">
		<div class="row">
			<div class="well center-block">
				<div class="well-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="text-center "><b>Register Here!</b></h3>
                    <h4 class="text-center"> Inspection As Service for Management  </h4>
					<hr>
				</div>
                <form action="" method="post" class="signup-form-management" >
                    {% csrf_token %}



                <div class="row">
					<div class="col-xs-12 ">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="glyphicon glyphicon-user"></i>
								</div>
								<input type="text" placeholder="Organization Name" name="org_name_mng" class="form-control">
							</div>
						</div>
					</div>
				</div>

                <div class="row">
					<div class=" col-xs-12">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="glyphicon glyphicon-user"></i>
								</div>
								<input type="text" placeholder="User Name" name="username_mng" class="form-control " style="">

							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 ">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="glyphicon glyphicon-user"></i>
								</div>
								<input type="text" placeholder="First Name" name="first_name" class="form-control">
							</div>
						</div>
					</div>
				</div>
                <div class="row">
					<div class="col-xs-12 ">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="glyphicon glyphicon-user"></i>
								</div>
								<input type="text" placeholder="Last Name" name="last_name" class="form-control">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="glyphicon glyphicon-lock"></i>
								</div>
								<input type="password" minlength="8" maxlength="20" placeholder="Password" name="pass_mng" class="form-control">
							</div>
						</div>
					</div>
				</div>
                <div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="glyphicon glyphicon-lock"></i>
								</div>
								<input type="password" minlength="8" maxlength="20" placeholder="Retype Password" name="repass_mng" class="form-control">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 ">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="glyphicon glyphicon-phone"></i>
								</div>
								<input type="text" class="form-control" name="phone_mng" placeholder="Phone Number">
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class=" col-xs-12">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="glyphicon glyphicon-envelope"></i>
								</div>
								<input type="email" class="form-control" name="email_mng" placeholder="E-Mail">
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class=" col-xs-12 ">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="glyphicon glyphicon-list-alt"></i>
								</div>
								<input class="form-control" name="web_mng" placeholder="Website"></input>
							</div>
						</div>
					</div>
				</div>
                <div class="row">
					<div class=" col-xs-12 ">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="glyphicon glyphicon-home"></i>
								</div>
								<textarea class="form-control" name="addr_mng" placeholder="Organization Address"></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class=" col-xs-12 ">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="glyphicon glyphicon-calendar"></i>
								</div>
                                <textarea name="desc" placeholder="Organization detail" class="form-control" id="datepicker"></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="row widget">
					<div class=" col-xs-12 ">
						<button type="submit" class="btn btn-block" style="background: #2e6da4;color: #dbdbdb;font-size: 20px;"> Sign Up </button>
					</div>
                    <div class="modal-footer">
                        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                    </div>
				</div>
                </form>
			</div>
		</div>
	</div>
    </div>
    </div>

</div>

</body>
</html>