{% extends 'BaseUI/BaseManager/baseManager.html' %}
{% load staticfiles %}
{% load static %}

{% block library %}
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block title %}Facility Management{% endblock %}

{% block vertical %}
    <a class="active">Facility<br>Management</a>
    <a href="{% block listfaci %}{% endblock %}" class="{% if page == 'listFacility' %}activeLink{% endif %}"><i class="fa fa-list">&emsp;List of Facilities</i></a>
    <a href="{% block backfaci %}{% endblock %}"><i class="fa fa-arrow-left">&emsp;Back to Management</i></a>
{% endblock %}

