{% extends 'BaseUI/BaseFacility/baseDesigncode.html' %}

<!------------ BLOCK MENU --------------->
{% block listdesign %}{% url 'designcodeDisplay' siteID %}{% endblock %}
{% block newdesign %}{% url 'designcodeNew' siteID %}{% endblock %}
{% block backfaci %}{% url 'facilitiesDisplay' siteID %}{% endblock %}
<!----------- END BLOCK --------------->

{% block data-content %}
    <form method="post">
    {% csrf_token %}
        <div style="text-align: center">
            <caption><b style="font-size: 20px; color: darkblue;">List of Design Codes</b></caption>
            <br><br>
            <table class="table" id="mytable">
                <thead>
                    <tr>
                        <th width="100px" style="text-align: center"><input type="checkbox" id="chkHeader"></th>
                        <th width="200px" style="text-align: center"><i class="fa fa-tag"></i>&ensp;Design Code</th>
                        <th width="200px" style="text-align: center"><i class="fa fa-compass"></i>&ensp;Design Code App</th>
                    </tr>
                </thead>

                <tbody>
                    {% for a in obj %}
                    <tr>
                        <td align="center"><input type="checkbox" name="{{ a.designcodeid }}"></td>
                        <td align="center">{{ a.designcode }}</td>
                        <td align="center">{{ a.designcodeapp }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


            {#          Pagination div  #}
            <div>
                {% if obj.has_other_pages %}
              <ul class="pagination">
                {% if obj.has_previous %}
                  <li><a href="?page={{ obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in obj.paginator.page_range %}
                  {% if obj.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if obj.has_next %}
                  <li><a href="?page={{ obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}
            </div>


{#            tool div #}
            <br>
            <div>
                <button type="submit" name="_edit" class="btn btn-primary"><i class="fa fa-pencil">&emsp;Edit Selected</i></button>
                <button type="submit" class="btn btn-warning" id="sub" onclick="Sub()"><i class="fa fa-trash-o">&emsp;Delete Selected</i></button>
            </div>

        </div>
    </form>
{% endblock %}