{% extends 'BaseUI/BaseFacility/baseManufacture.html' %}

<!----------- BLOCK MENU ------------->
{% block listmanu %}{% url 'manufactureDisplay' siteID %}{% endblock %}
{% block newmanu %}{% url 'manufactureNew' siteID %}{% endblock %}
{% block backfaci %}{% url 'facilitiesDisplay' siteID %}{% endblock %}
<!----------- END BLOCK ------------->

{% block data-content %}
    <form method="post">
    {% csrf_token %}
        <div class="input-data">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border"><b>Manufacture Information</b></legend>
                <div class="row">
                    <div class="col-md-4">Manufacture Name:<span style="color: red">*</span></div>
                    <div class="col-md-8"><input class="form-control" name="manufacture" type="text" value="{{ data.manufacture }}" placeholder="Input manufacture name here!" required></div>
                </div>
                {% if error.exist %}
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-8"><span style="color: red; font-size: 16px">{{ error.exist }}</span></div>
                </div>
                {% endif %}
            </fieldset>

            <div class="row"></div>

            <div class="row">
                <div class="col-md-12" style="text-align: right"><button type="submit" class="btn btn-primary">Submit</button></div>
            </div>
        </div>
    </form>
{% endblock %}