{% extends 'BaseUI/BaseFacility/baseComponent.html' %}

<!--------------- BLOCK MENU ------------>
{% block listcomp %}{% url 'componentDisplay' equipmentID %}{% endblock %}
{% block newcomp %}{% url 'componentNew' equipmentID %}{% endblock %}
{% block backeq %}{% url 'equipmentDisplay' facilityID %}{% endblock %}
<!-------------- END BLOCK ------------->

{% block data-content %}
    <form method="post">
        {% csrf_token %}
        <div class="input-data">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border"><b>Component Information</b></legend>

                <div class="row">
                    <div class="col-md-4">Component Number:<span style="color: red">*</span></div>
                    <div class="col-md-8"><input class="form-control" type="text" value="{{ data.componentnumber }}"  name="componentNumer" placeholder="Input component number here!" required></div>
                </div>

                {% if error.exist %}
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-8"><span style="color: red; font-size: 16px">{{ error.exist }}</span></div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-md-4">Component Type:<span style="color: red">*</span></div>
                    <div class="col-md-8">
                        <select class="form-control" name="componentType" id="componentType" required>
                            <option selected>{{ data.componenttype }}</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">API Component Type:<span style="color: red">*</span></div>
                    <div class="col-md-8">
                        <select class="form-control" id="apiComponentType" name="apiComponentType" required>
                            <option selected>{{ data.apicomponenttype }}</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">Component Name:<span style="color: red">*</span></div>
                    <div class="col-md-8"><input class="form-control" type="text"  value="{{ data.componentname }}" name="componentName" placeholder="Input component name here!" required></div>
                </div>

                <div class="row">
                    <div class="col-md-4">Component Risk Links to Component Risk:</div>
                    <div class="col-md-8">
                        {% if data.link %}
                        <input type="checkbox" name="comRisk" checked>
                        {% else %}
                        <input type="checkbox" name="comRisk">
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">Description:</div>
                    <div class="col-md-8">
                        <textarea class="form-control" type="text" name="decription" placeholder="Write component description here!">{{ data.description }}</textarea>
                    </div>
                </div>
            </fieldset>

            <div class="row"></div>
            <div class="row">
                <div class="col-md-12" style="text-align: right"><button type="submit" class="btn btn-primary">Submit</button></div>
            </div>

        </div>
    </form>
{% endblock %}