{% extends 'BaseUI/BaseFacility/baseComponent.html' %}

<!--------------- BLOCK MENU ------------>
{% block listcomp %}{% url 'componentDisplay' equipmentID %}{% endblock %}
{% block newcomp %}{% url 'componentNew' equipmentID %}{% endblock %}
{% block backeq %}{% url 'equipmentDisplay' facilityID %}{% endblock %}
<!-------------- END BLOCK ------------->

{% block data-content %}
    <form method="post">
        {% csrf_token %}
        <div class="input-data">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border"><b>Component Information</b></legend>

                <div class="row">
                    <div class="col-md-4">Component Number:<span style="color: red">*</span></div>
                    <div class="col-md-8"><input class="form-control" type="text"  name="componentNumer" value="{{ data.componentNumber }}" placeholder="Input component number here!" required></div>
                </div>

                {% if error.exist %}
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-8"><span style="color: red; font-size: 16px">{{ error.exist }}</span></div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-md-4">Component Type:<span style="color: red">*</span></div>
                    <div class="col-md-8">
                        <select class="form-control" name="componentType" id="componentType" required>
                            <option disabled selected>Please select component type..</option>
                            {% for a in componenttype %}
                                {% if a.componenttypename == data.componenttype %}
                                <option selected>{{ a.componenttypename }}</option>
                                {% else %}
                                <option>{{ a.componenttypename }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">API Component Type:<span style="color: red">*</span></div>
                    <div class="col-md-8">
                        <select class="form-control" id="apiComponentType" name="apiComponentType" required>
                            <option disabled selected>Please select api component type..</option>
                            {% for a in api %}
                                {% if a.apicomponenttypename == data.apicomponenttype %}
                                <option selected>{{ a.apicomponenttypename }}</option>
                                {% else %}
                                <option>{{ a.apicomponenttypename }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!---------------- Component type change ---------------->
                <script>
                            $(document).ready(function () {
                                $("#componentType").change(function () {
                                    $("#apiComponentType").empty();
                                    var componenttype = $("#componentType").val();
                                    if( componenttype == "Shell"){
                                        $("#apiComponentType").html("<option value ='COURSE-1'>COURSE-1</option>"+
                                        "<option value='COURSE-2'>COURSE-2</option><option value='COURSE-3'>COURSE-3</option>"+
                                        "<option value='COURSE-4'>COURSE-4</option><option value='COURSE-5'>COURSE-5</option>"+
                                        "<option value='COURSE-6'>COURSE-6</option><option value='COURSE-7'>COURSE-7</option>"+
                                        "<option value='COURSE-8'>COURSE-8</option><option value='COURSE-9'>COURSE-9</option>"+
                                        "<option value='COURSE-10'>COURSE-10</option>");
                                    }
                                    else if(componenttype == "Tank Bottom"){
                                        $("#apiComponentType").html("<option value ='TANKBOTTOM'>TANKBOTTOM</option>");
                                    }
                                    else if(componenttype == "Fixed Roof"){
                                        $("#apiComponentType").html("<option value ='TANKROOFFIXED'>TANKROOFFIXED</option>");
                                    }
                                    else if(componenttype == "Floating Roof") {
                                        $("#apiComponentType").html("<option value ='TANKROOFFLOAT'>TANKROOFFLOAT</option>");
                                    }
                                    else {
                                        $("#apiComponentType").html("{%  for a in other %}"+
                                                                        "<option>{{ a.apicomponenttypename }}</option>"+
                                                                    "{% endfor %}");
                                    }
                                })
                            })
                </script>
            <!------------------------------------------------>

                <div class="row">
                    <div class="col-md-4">Component Name:<span style="color: red">*</span></div>
                    <div class="col-md-8"><input class="form-control" type="text"  value="{{ data.componentname }}" name="componentName" placeholder="Input component name here!" required></div>
                </div>

                <div class="row">
                    <div class="col-md-4">Component Risk Links to Component Risk:</div>
                    <div class="col-md-8">
                        {% if data.link %}
                        <input type="checkbox" name="comRisk" checked>
                        {% else %}
                        <input type="checkbox" name="comRisk">
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">Description:</div>
                    <div class="col-md-8">
                        <textarea class="form-control" type="text" name="decription" placeholder="Write component description here!">{{ data.description }}</textarea>
                    </div>
                </div>
            </fieldset>

            <div class="row"></div>
            <div class="row">
                <div class="col-md-12" style="text-align: right"><button type="submit" class="btn btn-primary">Submit</button></div>
            </div>

        </div>
    </form>
{% endblock %}