{% extends 'BaseUI/BaseFacility/baseRiskSummary.html' %}

{% load staticfiles %}

<!----------------BLOCK MENU--------------->
{% block pof %}{% url 'damgeFactor' proposalID %}{% endblock %}
{% block ca%}{% url 'fullyConsequence' proposalID %}{% endblock %}
{% block matrix %}{% url 'riskMatrix' proposalID %}{% endblock %}
{% block chart %}{% url 'riskChart' proposalID %}{% endblock %}
{% block backProposal %}{% url 'proposalDisplay' ass.componentid_id %}{% endblock %}
<!---------------END BLOCK--------------->

{% block data-content %}
    <form method="post">
    {% csrf_token %}
        <div class="input-data">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border"><b>Fully-Quantitative Financial Cosequense of Failure and Category</b></legend>
                <!------------ BLOCK 1-------------->
                <div class="row">
                    <div class="col-md-8">The hydraulic conductivity for water, m/day:</div>
                    <div class="col-md-4">{{ data.hydraulic_water }}</div>
                </div>
                <div class="row">
                    <div class="col-md-8">The hydraulic conductivity for fluid, m/day:</div>
                    <div class="col-md-4">{{ data.hydraulic_fluid }}</div>
                </div>
                <div class="row">
                    <div class="col-md-8">The product seepage velocity, m/day:</div>
                    <div class="col-md-4">{{ data.seepage_velocity }}</div>
                </div>
                <!------------ BLOCK 2-------------->
                <div class="row"></div>
                <div class="row">
                    <div class="col-md-8"></div>
                    <div class="col-md-2"><b>D1</b></div>
                    <div class="col-md-2"><b>D4</b></div>
                </div>
                <div class="row">
                    <div class="col-md-8">Flow Rate, bbls/day:</div>
                    <div class="col-md-2">{{ data.flow_rate_d1 }}</div>
                    <div class="col-md-2">{{ data.flow_rate_d4 }}</div>
                </div>
                <div class="row">
                    <div class="col-md-8">Leak duration, days:</div>
                    <div class="col-md-2">{{ data.leak_duration_d1 }}</div>
                    <div class="col-md-2">{{ data.leak_duration_d4 }}</div>
                </div>
                <div class="row">
                    <div class="col-md-8">Release volume from leakage, barrels:</div>
                    <div class="col-md-2">{{ data.release_volume_leak_d1 }}</div>
                    <div class="col-md-2">{{ data.release_volume_leak_d4 }}</div>
                </div>
                <!------------ block 3------------>
                <div class="row"></div>
                <div class="row">
                    <div class="col-md-8">Realease volume from rupture, barrels:</div>
                    <div class="col-md-4">{{ data.release_volume_rupture }}</div>
                </div>
                <div class="row">
                    <div class="col-md-8">The time to initate leakage to the ground water, days:</div>
                    <div class="col-md-4">{{ data.time_leak_ground }}</div>
                </div>
                <!------------ block 4------------>
                <div class="row"></div>
                <div class="row">
                    <div class="col-md-8"></div>
                    <div class="col-md-2"><b>D1</b></div>
                    <div class="col-md-2"><b>D4</b></div>
                </div>
                <div class="row">
                    <div class="col-md-8">The volume of the product in the subsoil from leakage, barrels:</div>
                    <div class="col-md-2">{{ data.volume_subsoil_leak_d1 }}</div>
                    <div class="col-md-2">{{ data.volume_subsoil_leak_d4 }}</div>
                </div>
                <div class="row">
                    <div class="col-md-8">The volume of the product in the ground water from leakage, barrels:</div>
                    <div class="col-md-2">{{ data.volume_ground_water_leak_d1 }}</div>
                    <div class="col-md-2">{{ data.volume_ground_water_leak_d4 }}</div>
                </div>
                <!------------ block 5------------>
                <div class="row"></div>
                <div class="row">
                    <div class="col-md-8">The total barrels of fluid within the dike from rupture, barrels:</div>
                    <div class="col-md-4">{{ data.barrel_dike_rupture }}</div>
                </div>
                <div class="row">
                    <div class="col-md-8">The total barrels of fluid in the on-site surface soil from a rupture, barrels:</div>
                    <div class="col-md-4">{{ data.barrel_onsite_rupture }}</div>
                </div>
                <div class="row">
                    <div class="col-md-8">The total barrels of fluid in the off-site surface soil from a rupture, barrels:</div>
                    <div class="col-md-4">{{ data.barrel_offsite_rupture }}</div>
                </div>
                <div class="row">
                    <div class="col-md-8">The total barrels of fluid that reach water from a rupture, barrels:</div>
                    <div class="col-md-4">{{ data.barrel_water_rupture }}</div>
                </div>
                <div class="row">
                    <div class="col-md-8">The financial environmental cost from leakage, $:</div>
                    <div class="col-md-4">{{ data.fc_environ_leak }}</div>
                </div>
                <div class="row">
                    <div class="col-md-8">The financial environmental cost from rupture, $:</div>
                    <div class="col-md-4">{{ data.fc_environ_rupture }}</div>
                </div>
                <div class="row">
                    <div class="col-md-8">The financial environmental cost, $:</div>
                    <div class="col-md-4">{{ data.fc_environ }}</div>
                </div>
                <div class="row">
                    <div class="col-md-8">The material factor:</div>
                    <div class="col-md-4">{{ data.material_factor }}</div>
                </div>
                <div class="row">
                    <div class="col-md-8">The component damage cost, $:</div>
                    <div class="col-md-4">{{ data.component_damage_cost }}</div>
                </div>
                <div class="row">
                    <div class="col-md-8">The cost of business interruption, $:</div>
                    <div class="col-md-4">{{ data.business_cost }}</div>
                </div>
                <div class="row">
                    <div class="col-md-8">The total consequence, $:</div>
                    <div class="col-md-4">{{ data.consequence }}</div>
                </div>
                <div class="row">
                    <div class="col-md-8">Consequence Category:</div>
                    <div class="col-md-4"><b>{{ data.consequencecategory }}</b></div>
                </div>
            </fieldset>
        </div>
    </form>
{% endblock %}