body {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 20px;
}

.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.darkers {
    border-color: #ccc;
    background-color: #f9f9f9;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container a {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.container img {
    float: left;
    max-width: 60px;
    width: 60%;
    margin-right: 20px;
    border-radius: 50%;
}

.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

.time-right {
    float: right;
    color: #ac2925;
}

.time-left {
    float: left;
    color: #999;
}

.time-down {
    position: absolute;
    top: 2px;
    float: right;
    color: #999;
}


/*Css link file*/
label.filebutton {
    width: 23px;
    height: 25px;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
}
label span input {
    z-index: 999;
    line-height: 0;
    font-size: 50px;
    position: absolute;
    top: -2px;
    left: -700px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -ms-filter: "alpha(opacity=0)";
    cursor: pointer;
    _cursor: hand;
    margin: 0;
    padding:0;
}