{% extends 'BaseUI/BaseFacility/baseBusiness.html' %}
{% load staticfiles %}
{% load static %}

{% block library %}
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block title %}Facility Management{% endblock %}

{% block vertical %}
    <a class="active">Facility<br>Management</a>
    <a href="{% block listfaci %}{% endblock %}" class="{% if page == 'listFacility' %}activeLink{% endif %}"><i class="fa fa-list">&emsp;List of Facilities</i></a>
    <a href="{% block newfaci %}{% endblock %}" class="{% if page == 'newFacility' %}activeLink{% endif %}"><i class="fa fa-building">&emsp;New Facility</i></a>        
    <a href="{% block design %}{% endblock %}" class="{% if page == 'listDesign' %}activeLink{% endif %}"><i class="fa fa-barcode">&emsp;Design Code</i></a>
    <a href="{% block manu %}{% endblock %}" class="{% if page == 'listManu' %}activeLink{% endif %}"><i class="fa fa-cubes">&emsp;Manufacture</i></a>
    <a href="{% block uploadInsp %}{% endblock %}"><i class="fa fa-file">&emsp;Upload History</i></a>
    <a href="{% block uploadPlant %}{% endblock %}"><i class="fa fa-file-excel-o">&emsp;Upload Plan</i></a>
{% endblock %}

