{% extends 'BaseUI/BaseFacility/baseBusiness.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}Manufacture{% endblock %}

{% block vertical %}
    <a class="active">Manufacture Management</a>
    <a href="{% block listmanu %}{% endblock %}" class="{% if page == 'listManu' %}activeLink{% endif %}"><i class="fa fa-list">&emsp;List of <br>&emsp;&emsp;Manufacture</i></a>
    <a href="{% block newmanu %}{% endblock %}" class="{% if page == 'newManu' %}activeLink{% endif %}"><i class="fa fa-recycle">&emsp;New Manufacture</i></a>
    <a href="{% block backfaci %}{% endblock %}"><i class="fa fa-arrow-left">&emsp;Back to Facilities</i></a>
{% endblock %}