{% extends 'BaseUI/BaseFacility/baseBusiness.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}Proposal{% endblock %}
{% block vertical %}
    <a class="active">Proposal Management</a>
    <a href="{% block listProposal %}{% endblock %}" class="{% if page == 'listProposal' or page == 'listProposalTank' %}activeLink{% endif %}"><i class="fa fa-list">&emsp;List of Proposals</i></a>
    <a href="{% block newProposal %}{% endblock %}" class="{% if page == 'newProposal' or page == 'newProposalTank' %}activeLink{% endif %}"><i class="fa fa-building">&emsp;New Proposal</i></a>
    <a href="{% block backComp %}{% endblock %}" ><i class="fa fa-arrow-left">&emsp;Back to Component</i></a>
{% endblock %}