{% extends 'BaseUI/BaseFacility/baseBusiness.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}DesignCode{% endblock %}

{% block vertical %}
    <a class="active">DesignCode Management</a>
    <a href="{% block listdesign %}{% endblock %}" class="{% if page == 'listDesign' %}activeLink{% endif %}"><i class="fa fa-list">&emsp;List of DesignCode</i></a>
    <a href="{% block newdesign %}{% endblock %}" class="{% if page == 'newDesign' %}activeLink{% endif %}"><i class="fa fa-wrench">&emsp;New DesignCode</i></a>
    <a href="{% block backfaci %}{% endblock %}"><i class="fa fa-arrow-left">&emsp;Back to Facilities</i></a>
{% endblock %}