{% load staticfiles %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    {# title block #}
    <title>Forum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/forum.css' %}">

{#    <link rel="stylesheet" href="{% static 'css/forum.css' %}">#}
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    {# library block #}
    {% block library %}{% endblock %}
    <script type="text/javascript">
{#        $(document).ready(function(){#}
{#            $('[data-toggle="tooltip"]').tooltip('enabled');#}
{#        });#}
        $('[data-toggle="tooltip"]').tooltip();
    </script>

</head>
<body style="background-color: #EBEBEB">
<form method="post">
    {% csrf_token %}

{# header #}
<div class="navbar navbar-fixed-top" style="border-bottom: 4px solid #000000 ">
    <div class="header">
        <img src= "{% static '/image/logo/forum.png' %}" style="height: 60px;padding-top: 2px;padding-left: 20px"><a class="a-logout" href="{% url 'logout' %}" data-toggle="tooltip" data-placement="bottom" title="Sign Out"><i class="fa fa-sign-out"></i></a>
        <a class="a-normal" href="" data-toggle="modal" data-target="#myModal" data-placement="bottom" title="Profile"><i class="fa fa-user"></i></a>
        <a class="a-normal" href="{% url 'help' %}" data-toggle="tooltip" data-placement="bottom" title="Help"><i class="fa fa-question"></i></a>
        <a class="a-normal" href="" data-toggle="modal" data-target="#notiModal"  data-placement="bottom" title="Notification" onclick="hidenoti()" style="position: relative"><i class="fa fa-bell">{% if countnoti %}<span id="countnoti" class="forum-notification">{{ countnoti }}</span>{% endif %}</i></a>
        <a class="a-normal" href="{% url 'messagesInbox' %}" data-toggle="tooltip" data-placement="bottom" title="Messages"><i class="fa fa-wechat">{% if count %}<span class="badge red" style="color: red">{{ count }}</span>{% endif %}</i></a>
        <a class="a-normal active" href="{% url 'forum' %}" data-toggle="tooltip" data-placement="bottom" title="Forum"><i class="fa fa-dedent"></i></a>
        {% if info.kind == "factory" %}<a class="a-normal" href="{% url 'VerificationHome' %}" data-toggle="tooltip" data-placement="bottom" title="Verificaton"><i class="fa fa-exclamation-triangle">{% if countveri %}<span class="badge red" style="color: red">{{ countveri }}</span>{% endif %}</i></a> {% endif %}
        <a class="a-normal" href="{% url 'home' %}" data-toggle="tooltip" data-placement="bottom" title="Home"><i class="fa fa-home"></i></a>
    </div>
</div>

<div class="forum-content">
    <div class="forum-title"><span>Create a new post</span></div>
    <div class="forum-post">
        <div class="row" style="width: 96%;margin: auto">
            <input class="form-control forum-font" style="margin-top: 12px;margin-bottom: 12px" type="text" name="txttitle" placeholder="Title...">
            <textarea class="form-control forum-font autoExpand" style="margin-top: 12px;" name="txtcontent" id="" cols="2" rows="3" data-min-rows="3" placeholder="Content..."></textarea>
            <input class="form-control forum-font" style="margin-top: 12px" type="text" name="txttag" placeholder="Tag...">
            <div style="margin-top: 5px; height: 45px;line-height: 45px">
                <a href=""><i class=" fa fa-file-image-o forum-icon"></i></a>
                <a href=""><i class="fa fa-file forum-icon"></i></a>
                <a data-toggle="modal" data-target="#myModal" ><i class="fa fa-link forum-icon "></i></a>
                <input  type="submit" class="btn btn-success" style="float: right;" name="btnsend" value="Send">
            </div>
        </div>

    </div>
    <div class="forum-title" style="margin-top: 11px"><span>Recent Posts</span></div>
    <div class="forum-post">
        <div style="width: 96%;margin: auto;">
        <table class="forum-listposts">
            <tr style="border-bottom: 2px solid #9d9d9d">
                <td style="width: 55%;padding: 13px">Topic</td>
                <td style="width: 15%">Tag</td>
                <td style="width: 10%">Views</td>
                <td style="width: 10%">Reply</td>
                <td>Time</td>
            </tr>
            {% for data in data %}
            <tr style="border-top: 1px solid #e3e3e3">
                <td style="width: 55%;padding: 13px"><a href="{% url 'posts' data.id %}"><b>{{ data.title }}</b></a></td>
                <td style="width: 15%">{{ data.tag }}</td>
                <td style="width: 10%">{{ data.views }}</td>
                <td style="width: 10%">{{ data.reply }}</td>
                <td>{{ data.time }}</td>
            </tr>
            {% endfor %}
        </table>
        </div>
    </div>
</div>

{# body #}

 <!-- The Modal -->
  <div class="modal" id="myModalpro">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <span class="modal-title">Attach Link</span>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <input type="text" placeholder="Link..." class="border form-control" style="width: 80%;margin: auto">
            <input type="text" placeholder="Title..." class="border form-control mt-2" style="width: 80%;margin: auto">
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Attach</button>
        </div>
      </div>
    </div>
  </div>



<!-- Modal notification-->
  <div class="modal" id="notiModal">

      <div class="modal-content" style="margin-left: 60%;margin-top:60px;width: 40%;border-radius: 0px">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><a href=""><i class="fa fa-user"></i></a>Notification</h4>
        </div>
        <div class="modal-body">
            {% for noti in noti %}
            <div class="noti{{ noti.state }}" style="border-bottom: 1px solid #e3e3e3;border-top: 1px solid #e3e3e3;width: 100%;text-align: left;padding-left: 15px;padding-top: 15px;padding-bottom: 10px; font-family: Arial">
            <a href="{% url 'posts' noti.link %}">
                <span style="color: #204d74">{{ noti.subject }}</span><span style="color: black"> {{ noti.content }} </span><span style="color: #204d74">{{ noti.object }}</span>
            </a>
            </div>
            {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" style="color: white;background-color: #4575B7;" data-dismiss="modal">Close</button>
        </div>
      </div>
  </div>

      <!-- Modal -->
  <div class="modal" id="myModal">
      <div class="modal-content" style="margin-left: 60%;margin-top:60px;width: 40%;border-radius: 0px">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title"><a href=""><i class="fa fa-user"></i></a> Profile</h4>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-md-5"><span style="font-weight: bold; width: 40%">Name:</span></div>
                  <div class="col-md-7">{{ info.name }}</div>
              </div>
              <hr>
              <div class="row">
                  <div class="col-md-5"><span style="font-weight: bold; width: 40%">Email:</span></div>
                  <div class="col-md-7">{{ info.email }}</div>
              </div>
              <hr>
              <div class="row">
                  <div class="col-md-5"><span style="font-weight: bold; width: 40%">Phone number:</span></div>
                  <div class="col-md-7">{{ info.phone }}</div>
              </div>
              <hr>
              <div class="row">
                  <div class="col-md-5"><span style="font-weight: bold; width: 40%">Address:</span></div>
                  <div class="col-md-7">{{ info.address }}</div>
              </div>
              <hr>
              <div class="row">
                  <div class="col-md-5"><span style="font-weight: bold; width: 40%">Account:</span></div>
                  <div class="col-md-7">{{ info.kind }}</div>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn" style="color: white;background-color: #4575B7;" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>

</form>
<script>
    {#    Chức năng thông báo#}
    $(document).ready(function () {
        var x={{ countnoti }}
        if(x==0){
            $("#countnoti").hide();
        }
        $(".noti0").addClass("forum-noti-background");
    })
    function hidenoti() {
        $("#countnoti").hide();
    }
$(document)
    .one('focus.autoExpand', 'textarea.autoExpand', function(){
        var savedValue = this.value;
        this.value = '';
        this.baseScrollHeight = this.scrollHeight;
        this.value = savedValue;
    })
    .on('input.autoExpand', 'textarea.autoExpand', function(){
        var minRows = this.getAttribute('data-min-rows')|0, rows;
        this.rows = minRows;
        rows = Math.ceil((this.scrollHeight - this.baseScrollHeight) / 16);
        this.rows = minRows + rows;
    });
</script>
</body>
</html>