<!DOCTYPE html>
<htm<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    {% load widget_tweaks %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>RBI Service</title>
</head>
<body>
<div class="wapper" style="width: 1200px; height: 600px; margin-left: 75px;">
    <div class="container-fluid">
		<div class="row">
			<div class="well center-block" style="background: #2e6da4">
                <span style="color: white">
                    <b><h2>Email verification</h2></b>
                    An email with verification details was sent to your email address.<br>
                    Please follow instructions provided in the email in order to complete your sign up procedure.
                </span>
			</div>
		</div>
	</div>
</div>

</body>
</html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>