{% extends 'BaseUI/BaseFacility/baseFacility.html' %}

<!-------------- BLOCK MENU ---------------->
{% block listfaci %}{% url 'facilitiesDisplay' siteID %}{% endblock %}
{% block newfaci %}{% url 'facilitiesNew' siteID %}{% endblock %}
{% block design %}{% url 'designcodeDisplay' siteID %}{% endblock %}
{% block manu %}{% url 'manufactureDisplay' siteID %}{% endblock %}
<!----------------- END BLOCK----------------->


{% block data-content %}
        <form method="post" >
        {% csrf_token %}
            <div class="input-data">
            <fieldset class="scheduler-border">
            <legend class="scheduler-border" ><b>Facility Properties</b></legend>
            <fieldset class="scheduler-border">
            <legend class="scheduler-border" ><b>Facility Information</b></legend>
                <div class="row">
                    <div class="col-md-4">Facility Name:<span style="color: red">*</span></div>
                    <div class="col-md-8"><input type="text" name="FacilityName" class="form-control" placeholder="Input Facility name here!" value="{{ data.facilityname }}" required/></div>
                </div>
                {% if error.exist %}
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-8"><span style="color: red; font-size: 16px">{{ error.exist }}</span></div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-md-4">Site:</div>
                    <div class="col-md-8"><input type="text"  name="site" list="site" class="form-control" value="{{ site.sitename }}" readonly></div>
                </div>
                <div class="row">
                    <div class="col-md-4">Management System Factor:<span style="color: red">*</span></div>
                    <div class="col-md-8"><input type="number"  name="ManagementSystemFactor" min="0.1" max="10" placeholder="Input management system fator here!" step="0.01" class="form-control" value="{{ data.manageFactor }}" required/></div>
                </div>
            </fieldset>

            <fieldset class="scheduler-border">
                <legend class="scheduler-border"><b>Fully-quantitave CoF and FCoF Risk Target</b></legend>
                <div class="row">
                    <div class="col-md-4">Area (m<sup>2</sup>/year):<span style="color: red">*</span></div>
                    <div class="col-md-8"><input type="number" step="0.01" name="Area" size="40" min="0" max="1000000" class="form-control" value="{{ data.targetAC }}" placeholder="Input maximum area target!" required/></div>
                </div>
                <div class="row">
                    <div class="col-md-4">Financial ($/year):<span style="color: red">*</span></div>
                    <div class="col-md-8"><input type="number" step="0.01" name="Financial" size="40" min="0" max="1000000000" class="form-control" value="{{ data.targetFC }}" placeholder="Input maximum financial target!" required/></div>
                </div>
                </fieldset>
            </fieldset>

            <div class="row">
            </div>
            <div class="row">
                <div class="col-md-12" style="text-align: right"><button type="submit" class="btn btn-primary">Submit</button></div>
             </div>
            </div>
        </form>
{% endblock %}